.q1{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.navbar{
    padding: 30px 0px 20px opx;
}
.navbar-brand{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
}