.q1{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 20px;
}
.navbar-brand{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid red;
    background-color: blueviolet;
}
.nav-link{

    font-weight: 700;
    font-size: 20px;
}
.q3{
    margin-top: 110px;
}
.q4{
text-align: center;
font-weight: 900;
}
.q5{
text-align: center;
font-weight: 800;
}